{%extends 'base.html'%}
{% block title %}
About
{% end %}
{% block content %}
<p>This site is a collection of my projects, thoughts on current events, and generally whatever I feel like writing.<br/></p>
<p>Currently, I am a freshman at the University of Arizona, studying Computer Science (technically a pre-Computer Science major, just because of how our major works). I have a strong interest in computer security, and continue to be amazed by the convenience that technology has brought into our world.<br/></p>
<p>Secretly, however, I mourn the direction technology is taking. I can't stand the mentality of modern software development or the "get rich quick" attitude of most startup companies. Even though I'm pretty late to the party, I still feel that the internet should remain a place for the open exchange of ideas, and software is better developed without any ulterior motive.<br/></p>
<p>In general, I hope to be able to make some sort of meaningful contribution to society and do my part to keep the internet open and free. While I don't consider myself a perfectionist, I still feel that society has placed money before quality or proficiency, and, at least in my own life, I seek to reverse those priorities.<br/></p>
{%end%}
